p {
  margin-bottom: 10px;
}

div.container {
  font-family: Armata;
  width: 80%;
  margin:auto;
}

h3 {
  margin-top:0;
}

#forecastContainer {
  width:100%;
  display: flex;
  flex-wrap: wrap;
}

div.custom-button {
  color: white;
  width: 200px;
  font-weight: bold;
  background-color: #A9BC30;
  border-radius: 5px;
  padding:5px;
  border: 1px solid lightgrey;
  transition: background-color 0.5s;
  cursor:pointer;
  margin:auto;
}

div.custom-button:hover {
  background-color: #C9DD4C;
}

div.inputRow {
  width:50%;
  padding-bottom:15px;
  margin-left:25%;
  display: table;
}

div.inputField {
  display: table-cell;
  padding-bottom:10px;
  padding-right: 15px;
}

.center {
  text-align: center;
}

:host ::ng-deep div.forecast {
  float:left;
  width: 33.3%;
}


:host ::ng-deep div.box-shadow {
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.15);
  margin:20px;
  padding:15px;
}

input.twoDigits {
  width: 30px;
}

input.fourDigits {
  width: 60px;
}

input {
  width:100%;
}

div.inputDate {
  display:inline-block;
}

a {
  font-weight: bold;
  display:table;
  font-size: 25px;
  color:black;
  transition: opacity 0.5s;
  padding: 20px;
  margin:auto;
  text-decoration:none;
  text-align:right;
}

a:hover {
  opacity: 0.55;
}

img.darksky {
  top: -2px;
  position:relative;
  background-color: black;
  border-radius: 5px;
  width: 31px;
  max-height: 100%;
  vertical-align: middle;
}

div.darksky {
  display: table-cell;
  padding-right:10px;
}

input.error{
  border: 2px solid red;
  border-radius:2px;
}

@media (max-width: 1200px) and (min-width: 768px) {
  :host ::ng-deep div.forecast {
    width: 50%;
  }
  div.inputRow {
    width:80%;
    margin-left:10%;
  }
}

@media (max-width: 767px) {
  :host ::ng-deep div.forecast {
    width: 100%;
  }

  div.inputRow {
    width: 100%;
    margin: 0;
  }

  a {
    font-size: 15px;
    padding: 15px;
  }

  p {
    text-align:left;
  }
  div.container {
    width: 95%;
  }

}

@media (max-width: 500px) {
  div.inputField {
    display:block;
  }

  div.custom-button {
    width: 100%;
  }
}
